/* Estilo para toda la pagina */
*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

/* mixin para para flex con align content center y justify content variable*/
@mixin flexaligncontent($justifycontent) {
    display: flex;
    align-content: center;
    justify-content: $justifycontent;
}
/* mixin para botones de sesion carrito */
@mixin buttonsesioncart() {
    width: 90%;
    height: 2.5rem;
    transition: 0.3s;
}
/* mixin para hover al pasar por el nav*/
@mixin color-font() {
    color: #470696;
    font-style: italic;
    transition: all 0.1s;
}
/* mixin para posicionamiento de grids */
@mixin positiongrid($colstart, $colend, $rowstart, $rowend) {
    grid-column-start: $colstart;
    grid-column-end: $colend;
    grid-row-start: $rowstart;
    grid-row-end: $rowend;
}

@import 'header';
@import 'slider';
@import 'homepage';